parameters:
  level: 3
  paths:
    - src
#    - contao
  universalObjectCratesClasses:
    - Contao\FrontendTemplate
    - Contao\BackendTemplate
#    - Contao\Template
includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
